<cdk-virtual-scroll-viewport itemSize="70" class="example-viewport">
  <li *cdkVirtualFor="let fact of dataSource" class="example-item" style="display: flex; align-items: center">
    <div style="flex: 20%; display: flex; flex-direction: column; align-items: center; font-weight:bold; font-size: 1.5em; ">{{fact.date}}</div>
    <div style="flex: 80%">{{fact.text}}</div>
  </li>
</cdk-virtual-scroll-viewport>
